body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;

}
.container {
    margin: 0px;
    background: rgba(235,191,146, 0.5);

}
.panel-body {
    width: 900px;
    margin: 30px;
}
.shoppingcart {
    margin-left: 20px;
}
img {
    width: 150px;
    height: 100px;
}
.Price {
    font-weight: bold;
}
#popup {
  background: rgba(235,191,146, 0.5);
}
i {
    color:black;
    pointer-events: none;

}
a:hover {
   opacity: 0.5;
}
a {
color:black;
}